@charset "utf-8";
/* 头部 */
#header {
  box-shadow: 0 2px 4px #c7c7c7;
  background-color: #fff;
}
#header .logo {
  width: 180px;
  margin-left: 7px;
  float: left;
}
#header .toggle-button {
  display: none;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 54px;
  height: 54px;
  background-color: rgba(0, 0, 0, 0.5);
}
#header .nav {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}
#header .nav ul {
  float: right;
}
#header .nav ul li {
  float: left;
}
#header .nav ul .active a {
  background-color: #cfdb00;
}
#header .nav ul a {
  display: block;
  width: 96px;
  height: 68px;
  text-align: center;
  line-height: 68px;
  font-size: 1.4em;
  color: #1e1e1e;
  transition: background 1s;
}
#header .nav ul a:hover {
  background-color: #cfdb00;
}
.part-1 {
  text-align: center;
  max-width: 1024px;
  margin: 0 auto 4%;
  padding-top: 8% ;
}
/* 页脚 */
h2.title-h2 {
  color: #888888;
  font-size: 2.6em;
  position: relative;
  display: inline-block;
  height: 80px;
  line-height: 80px;
}
h2.title-h2:before {
  content: "";
  position: absolute;
  left: -138px;
  top: 39px;
  width: 120px;
  height: 2px;
  background-color: #cfdb00;
}
h2.title-h2:after {
  content: "";
  position: absolute;
  right: -138px;
  top: 39px;
  width: 120px;
  height: 2px;
  background-color: #cfdb00;
}
#footer {
  text-align: center;
}
#footer .contact-box {
  padding-top: 5.4%;
  padding-bottom: 9.7%;
}
#footer .contact-box p {
  font-size: 1.6em;
  color: #898989;
}
#footer .contact-box p a {
  color: #898989;
}
#footer .copyright {
  background-color: #b4b4b4;
  border-top: 4px solid #cfdb00;
  height: 64px;
  line-height: 64px;
  color: #fff;
  font-size: 2em;
}
@media screen and (max-width: 768px) {
  #header .logo {
    float: none;
  }
  #header .toggle-button {
    display: block;
  }
  #header .nav ul {
    display: none;
    float: none;
  }
  #header .nav ul li {
    float: none;
  }
  #header .nav ul a {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 8px;
  }
  h2.title-h2:before,
  h2.title-h2:after {
    width: 60px;
  }
  h2.title-h2:before {
    left: -78px;
  }
  h2.title-h2:after {
    right: -78px;
  }
}
#mainContent {
  position: relative;
}
#mainContent .remment-box {
  position: relative;
}
#mainContent .remment-box video {
  display: block;
}
#mainContent .remment-box:hover div {
  left: 0;
}
#mainContent .remment-box div {
  transition: left 1s;
  position: absolute;
  left: -100%;
  bottom: 0;
  width: 92%;
  padding: 0 4% 2%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#mainContent .remment-box div h3 {
  height: 72px;
  line-height: 72px;
  font-size: 3em;
}
#mainContent .remment-box div p {
  font-size: 1.6em;
}
#mainContent #goTop {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
  border-width: 40px 35px ;
  border-style: solid;
  border-color: transparent transparent #cfdb00 transparent;
}
#mainContent #goTop:after {
  content: "TOP";
  color: #fff;
  font-size: 1.6em;
  position: absolute;
  left: -35px;
  width: 70px;
  bottom: -40px;
  text-align: center;
}
#mainContent .video-container {
  background-color: #f5f5f5;
  padding-top: 4%;
  padding-bottom: 15%;
}
#mainContent .video-container .video-list {
  max-width: 1024px;
  margin: 0 auto;
}
#mainContent .video-container .video-list video {
  display: block;
}
#mainContent .video-container .video-list li {
  border-bottom: 1px solid #d9d9d9;
  margin-top: 6.25%;
  padding-bottom: 10px;
}
#mainContent .video-container .video-list li > div {
  display: inline-block;
  vertical-align: middle;
}
#mainContent .video-container .video-list li > div.list-one {
  width: 48%;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
}
#mainContent .video-container .video-list li > div.list-two {
  width: 38%;
  margin-left: 4%;
  margin-right: 4%;
}
#mainContent .video-container .video-list li > div.list-two h3 {
  color: #333;
  font-size: 3em;
}
#mainContent .video-container .video-list li > div.list-two p {
  color: #666;
  font-size: 1.6em;
}
@media screen and (max-width: 480px) {
  #mainContent .video-container .video-list li > div.list-one,
  #mainContent .video-container .video-list li > div.list-two {
    display: block;
    width: 92%;
    margin: 0 auto;
  }
}
